---
import Page from "../layouts/page.astro";
---

<Page>
    <main class="flex flex-col w-fit mx-auto sm:ml-56 lg:ml-auto mt-12 px-8 text-white font-montserrat">
        <span class="text-light-blue-100 relative font-goldman font-bold text-left text-2xl py-3">&lt;About me/&gt; </span>
        <div class="text-white text-left w-3/4 leading-8">
            <p>I’m a self-taught programmer working on Data Analysis in the esports industry for the last 3 years and being a pioneer when it comes to applying new technologies into the field</p>
            <br class="md:static hidden">
            <p>For the last year, I enjoyed learning and working with web development to give my tools a new life, making stuff interactive and visually entertaining</p>
        </div>
        <div class="mt-8">
            <span class="text-light-blue-100 relative font-goldman font-bold text-left text-2xl py-3">&lt;MyStack/&gt; </span>
            <div class="flex flex-row">
                <div id="types" class="flex flex-col text-right mt-5 font-gruppo text-lg font-bold border-r-2 border-white w-36">
                    <div class="cursor-pointer pb-2 pl-4 hover:scale-105 hover:text-light-blue-100 hover:border-r-4 hover:border-light-blue-100 hover:bg-dark-blue-300 pr-3">Frontend</div>
                    <div class="cursor-pointer pb-2 pl-4 hover:scale-105 hover:text-light-blue-100 hover:border-r-4 hover:border-light-blue-100 hover:bg-dark-blue-300 pr-3">Backend</div>
                    <div class="cursor-pointer pb-2 pl-3 hover:scale-105 hover:text-light-blue-100 hover:border-r-4 hover:border-light-blue-100 hover:bg-dark-blue-300 pr-3">Languages</div>
                    <div class="cursor-pointer pb-2 pl-3 hover:scale-105 hover:text-light-blue-100 hover:border-r-4 hover:border-light-blue-100 hover:bg-dark-blue-300 pr-3">Databases</div>
                    <div class="cursor-pointer pb-2 pl-4 hover:scale-105 hover:text-light-blue-100 hover:border-r-4 hover:border-light-blue-100 hover:bg-dark-blue-300 pr-3">Others</div>
                </div>
                <div id="icons">
                    
                </div>
            </div>
        </div>
        </main>
</Page>