---
import Page from "../layouts/page.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Page>
			<main class="flex w-fit flex-col mx-auto my-auto lg:mt-56 sm:ml-36 lg:ml-auto sm:mt-24 mt-10 px-8 select-none">
				<span class="text-light-blue-100 relative font-goldman font-bold text-left text-2xl py-3">&lt;Hello name="world" /&gt; </span>
				<span class="text-white font-goldman font-bold tracking-wide text-7xl pt-5">Carlos Carpio</span>
				<span class="font-gruppo text-gray-100 text-2xl">Software Developer</span>
				<span class="text-white text-xl font-light py-5">I’m a developer mainly focused on Data Analysis and Fullstack Web Development</span>
				<div class="text-light-blue-100 border-2 rounded-full lg:mt-0 mt-4 py-2 px-4 border-light-blue-100 w-fit cursor-pointer hover:scale-105 active:scale-95"><a href="/portfolio">Check out my work!</a></div>
			</main>
		</Page>
	</body>
</html>
