---
let show = false;
---
<nav class="flex flex-row justify-between w-[90%] ml-[5%] py-2 border-bottom-2 border-light-blue-100 border-b-[1px]">
    <a href="/"><div class="flex flex-row sm:pt-0 pt-1">
        
        <img src="/Logo.svg" alt="" class="sm:w-full sm:h-full h-3/4 object-fit">
    <span class="text-dark-blue-1 font-gruppo sm:text-5xl text-4xl text-light-blue-100 tracking-widest pl-2">AAGIE.DEV</span>
    </div></a>
    <div class="lg:flex hidden flex-row w-1/2 justify-around text-light-blue-100 font-gruppo text-3xl pt-1">
        <div class="animate-[slidemenu_0.3s_linear]"><a href="/about">About</a></div>
        <div class="animate-[slidemenu_0.4s_linear]"><a href="/portfolio">Portfolio</a></div>
        <div class="animate-[slidemenu_0.5s_linear]"><a href="/work">Work</a></div>
    </div>
    
</nav>
<div class="bg-gradient-to-l from-dark-blue-100 to-dark-blue-200 border-b-2 w-[90%] ml-[5%] border-light-blue-100 text-white py-4 flex justify-between lg:hidden animate-[slidenav_0.2s_linear]" id="dropdown">
    <a href="/about" class="text-light-blue-100 mx-4 animate-[slidemenu_0.2s_linear] hover:underline underline-offset-4 decoration-2">About</a>
    <a href="/work" class="text-light-blue-100 mx-4 animate-[slidemenu_0.3s_linear] hover:underline underline-offset-4 decoration-2">Work</a>
    <a href="/portfolio" class="text-light-blue-100 mx-4 animate-[slidemenu_0.4s_linear] hover:underline underline-offset-4 decoration-2">Portfolio</a>
  </div>
  