---

---

<div class="absolute bottom-0 sm:h-72 flex sm:flex-col flex-row sm:justify-start sm:left-24 sm:w-auto w-full justify-around ">
    <img src="/github.svg" alt="" class="pb-4 pt-2 cursor-pointer hover:scale-125 hover:brightness-0 hover:invert animate-[slideicon_0.4s_linear]">
    <img src="/linkedin.svg" alt="" class="py-4 cursor-pointer hover:scale-125 hover:brightness-0 hover:invert animate-[slideicon_0.5s_linear]">
    <img src="/twitter.svg" alt="" class="py-4 cursor-pointer hover:scale-125 hover:brightness-0 hover:invert animate-[slideicon_0.6s_linear]">
    <img src="/gmail.svg" alt="" class="py-4 cursor-pointer hover:scale-125 hover:brightness-0 hover:invert animate-[slideicon_0.7s_linear]">
</div>
<div class="w-[3px] h-72 absolute bottom-0 bg-light-blue-100 left-32 sm:block hidden"></div>