---

---

<div class="lg:absolute relative bottom-0 lg:h-72 flex lg:flex-col flex-row lg:justify-start lg:left-24 lg:w-auto w-full justify-around backdrop-blur-lg z-10">
    <a href="https://github.com/AagieKLZ" target="_blank"><img src="/github.svg" alt="" class="pb-4 md:pt-2 py-4 cursor-pointer hover:scale-125 hover:brightness-0 hover:invert md:animate-[slideicon_0.4s_linear]"></a>
    <a href="https://www.linkedin.com/in/carlos-carpio-cuenca-010b54236/" target="_blank"><img src="/linkedin.svg" alt="" class="py-4 cursor-pointer hover:scale-125 hover:brightness-0 hover:invert md:animate-[slideicon_0.5s_linear]"></a>
    <a href="https://twitter.com/AagieKLZ" target="_blank"><img src="/twitter.svg" alt="" class="py-4 cursor-pointer hover:scale-125 hover:brightness-0 hover:invert md:animate-[slideicon_0.6s_linear]"></a>
    <a href="mailto:carloscarcue@gmail.com" target="_blank"><img src="/gmail.svg" alt="" class="py-4 cursor-pointer hover:scale-125 hover:brightness-0 hover:invert md:animate-[slideicon_0.7s_linear]"></a>
</div>
<div class="w-[3px] h-72 absolute bottom-0 bg-light-blue-100 left-32 lg:block hidden"></div>