---
import '@fontsource/gruppo'
import '@fontsource/montserrat'
import '@fontsource/goldman'
import Navbar from '../components/navbar.astro';
import Socials from '../components/socials.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	</head>
	<body class="bg-gradient-to-l from-dark-blue-100 to-dark-blue-200">
		<Navbar />
        <Socials />
		<slot></slot>
	</body>
</html>